@use "../common";
div {
  &.content {
    display: flex;
    flex-direction: var(--about-flex-direction);
    justify-content: var(--about-flex-justify-content);
    align-items: var(--about-align-items);
    gap: 50px;
  }

  &.introduce,
  &.education {
    width: var(--introduce-width);
    text-align: center;
  }

  &.introduce {
    div.card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: var(--introduce-card-margin-left);
      padding: 1.5rem 1.25rem 4rem;
      background-color: var(--white-color);
      border-radius: 20px;
      box-shadow: 1px 8px 10px 2px rgba($color: #000, $alpha: 0.1);

      h3 {
        margin-bottom: 1rem;
        @include common.fontStyle(1.5rem, 600, 1.25rem);
        color: var(--header-color);
      }

      > div {
        padding-inline: 1.5rem;
        @include common.fontStyle(1.125rem, 400, 1.5rem);
        color: var(--text-color);
      }
    }
  }

  .education {
    width: var(--education-width, 48%);
    margin-top: 1rem;
    text-align: var(--edu-text-align, center);

    h3 {
      text-align: center;
      margin-bottom: 1rem;
      @include common.fontStyle(1.5rem, 600, 1.25rem);
      color: var(--header-color);
    }

    .edu-list {
      list-style: none;
      padding-left: 0;
      margin: 0;

      li {
        margin-bottom: 1rem;

        .school-box {
          display: flex;
          align-items: center;
          gap: 10px;

          i {
            font-size: 0.5rem;
            color: var(--primary-color);
          }

          .school {
            @include common.fontStyle(1.125rem, 400, 1.5rem);
            color: var(--text-color);
          }
        }
      }
    }
  }

  &.skills {
    width: fit-content;
    margin-right: var(--skills-margin-right);
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, minmax(0, 650px));
    gap: 2rem;
    margin: 0 auto;
    justify-content: center;

    .item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;

      .skill {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
      }

      .progress {
        height: 10px;
        border: solid 1px #ccc;
        width: 100%;

        .progress-bar {
          height: 12px;
          background-color: var(--primary-color);
        }
      }
    }
  }
}
