@use "../common";

header {
  border-bottom: solid 1px var(--border-color);
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  z-index: 50;

  div.container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }

  h3 {
    margin: 0;
    @include common.fontStyle(var(--header-heading-font-size), 700, 1.75rem);
    color: var(--primary-color);
  }

  nav {
    display: var(--nav-display);
    gap: var(--nav-gap);

    .active {
      position: relative;
      color: var(--primary-color);

      &::after {
        content: "";
        width: 5px;
        height: 5px;
        background-color: var(--primary-color);
        border-radius: 50%;
        position: absolute;
        left: calc(50% - 2.5px);
        bottom: -8px;
      }
    }
  }

  div.header-button {
    display: var(--header-button-display, flex);

    button {
      @include common.fontStyle(1rem, 500, 1.25rem);
      padding: 0.5rem 1rem;
      background-color: var(--gray-color-100);
      border: none;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
      }
    }
  }
}
