@use "../common";

#portfolio {
  position: relative;
  padding: 0 100px 250px;
  scroll-margin-top: 100px;

  .title {
    max-width: 1200px;
    margin: 0 auto 60px;
    text-align: center;
  }

  .portfolio-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .item {
    min-width: 350px;
    height: 180px;
    margin: 0 auto;

    background-color: var(--background-color);
    border: 1px solid #ccc;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: border-color 0.3s ease;

    .text {
      text-align: center;
      transition: transform 0.3s ease;

      h3 {
        font-size: 25px;
        margin-bottom: 12px;
        color: #000;
        transition: color 0.3s ease;
      }

      p {
        font-size: 16px;
        color: #000;
        transition: color 0.3s ease;
      }

      i {
        font-size: 25px;
        color: #000;
        margin-top: 6px;
        opacity: 0;
        transition: color 0.3s ease, opacity 0.3s ease;
      }
    }

    &:hover {
      border-color: var(--primary-color);

      .text {
        h3,
        p,
        i {
          color: var(--primary-color);
          transform: translateY(-10px);
        }

        i {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #portfolio {
    padding: 0 60px 200px;
    .portfolio-list {
      grid-template-columns: repeat(2, 1fr);
    }

    .item .text {
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 15px;
      }
      i {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 576px) {
  #portfolio {
    padding: 0 24px 160px;

    .portfolio-list {
      grid-template-columns: 1fr;
    }

    .item .text {
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
      i {
        font-size: 22px;
      }
    }
  }
}

.portfolio-list a.item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
