:root {
  --search-bar-display: flex;
  --book-min-width: 256px;
  --header-heading-font-size: 1.25rem;
  --nav-display: flex;
  --nav-gap: 3rem;
  --home-heading-font-size: 2rem;
  --home-image-width: 300px;
  --home-flex-justify-content: space-between;
  --home-width: 50%;
  --about-flex-justify-content: space-between;
  --about-align-items: flex-start;
  --introduce-width: 50%;
  --introduce-card-margin-left: 4rem;
  --skills-margin-right: 2rem;
  --skills-width: 50%;

  @media screen and (max-width: 1024px) {
    --home-heading-font-size: 1.5rem;
    --home-image-width: 250px;
    --about-flex-direction: column;
    --about-flex-justify-content: center;
    --about-align-items: flex-start;
    --introduce-width: 65%;
    --introduce-card-margin-left: 0rem;
    --skills-margin-right: 2rem;
    --skills-width: 65%;
  }

  @media screen and (max-width: 640px) {
    --header-heading-font-size: 1rem;
    --nav-gap: 1.25rem;
    --home-flex-direction: column-reverse;
    --home-flex-justify-content: center;
    --home-text-align-items: center;
    --home-width: 100%;
    --home-gap: 1.5rem;
    --introduce-width: 90%;
    --introduce-card-margin-left: 0rem;
    --education-width: 100%;
    --edu-text-align: center;
    --skills-width: 90%;
    --skills-margin-right: 1.5rem;
    --skills-width: 90%;
    --nav-display: none;
    --nav-flex-direction: column;
    --nav-align-items: center;
    --about-flex-direction: column;
    --about-flex-justify-content: center;
    --about-align-items: center;
  }
}
